<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favorite Teams
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let team of favoriteList">
    <ion-avatar slot="start">
      <img src="{{ team.strTeamBadge }}" alt="{{ team.strTeamBadge }}" loading="lazy">
    </ion-avatar>
    <ion-label>{{ team.strTeam }}</ion-label>
    <ion-button color="tertiary" (click)="detailTeam(team.strLeague)">
      <ion-icon name="arrow-redo-outline"></ion-icon>
    </ion-button>
    <ion-button color="danger" (click)="removeFav(team.idTeam)">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <!-- <ion-button (click)="getFavorites()">get</ion-button> -->
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
